* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */
header {
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 35px 120px;
}

/* Header Top */
.head-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 175px;
}

.links {
  width: 20%;
}

.links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.links a {
  font-family: 'Montserrat';
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.links a:hover {
  color: #3CDCFF;
}

/* Header Bottom */
.head-bot {
  width: 60%;
}

.head-bot h1 {
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 50px;
}

.head-bot p {
  width: 70%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 70px;
}

.inf-but button {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 38px;
  padding: 26px 65px;
  border: #3CDCFF 1px solid;
  background: none;
  margin-bottom: 260px;
  color: #3CDCFF;
}

.inf-but button:hover {
  border: #3CDCFF 1px solid;
  background: #3CDCFF;
  color: #000;
}

/* First section */
.section1,
.section3 {
  padding: 6% 8%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sec1-img {
  width: 50%;
  background-image: url(/img/Block1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 60px;
  color: #fff;
  border-radius: 16px;
}

.num p {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 23px;
  line-height: 29px;
}

.month p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 290px;
}

.sec1-img-text p,
.sec3-img-text p {
  width: 40%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.sec1-inf,
.sec3-inf {
  padding: 2% 6%;
  width: 50%;
}

.sec1-inf h1,
.sec3-inf h1 {
  margin-bottom: 6%;
  font-family: 'Playfair Display';
  font-weight: 800;
  font-size: 42px;
  line-height: 65px;
}

.sec1-inf p,
.sec3-inf p {
  width: 80%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 6%;
}

.sec1-but button,
.sec3-but button {
  background: none;
  border: 2px solid #3CDCFF;
  border-radius: 38px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #48DEFF;
  padding: 5% 10%;
}

.sec1-but button:hover,
.sec3-but button:hover {
  border: #3CDCFF 1px solid;
  background: #3CDCFF;
  color: #000;
}

/* Second section */

.section2 {
  padding: 4% 20%;
  width: 100%;
  background-image: url(/img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

.sec2-inf {
  width: 35%;
}

.sec2-inf h1 {
  font-family: 'Playfair Display';
  font-weight: 800;
  font-size: 42px;
  line-height: 65px;
  color: #030000;
  margin-bottom: 5%;
}

.sec2-inf p {
  width: 80%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #030000;
}

input[type="text"],
input[type="tel"] {
  border: 2px solid #9CB7CA;
  border-radius: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #9CB7CA;
  padding: 5% 10%;
  margin-bottom: 20px;
  width: 100%;
}

input[type="submit"] {
  background: none;
  border: 2px solid #3CDCFF;
  border-radius: 38px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #48DEFF;
  padding: 5% 10%;
  width: 100%;
}

input[type="submit"]:hover {
  border: #3CDCFF 1px solid;
  background: #3CDCFF;
  color: #000;
}

.sec2-forms {
  padding: 20px;
}

.sec2-forms p {
  display: block;
  margin-top: 25px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #030000;
  width: 55%;
}

.sec2-forms a {
  text-decoration: none;
  color: #3CDCFF;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section thtree */
.sec3-img {
  width: 50%;
  background-image: url(/img/Block2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 60px;
  color: #fff;
  border-radius: 16px;
}

/* Footer */

.footer {
  padding: 3% 5%;
  background: #F1F2F6;
  display: flex;
  justify-content: space-between;
}

.foot-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.foot-right {
  width: 10%;
}

.foot-right ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.foot-link {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.link-1 {
  width: 30%;
}

.link-2 {
  width: 40%;
}

.foot-link a {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #537B97;
}